<div class='container-fluid' id='main'>
	<div class='row-fluid'>
		<div class='span10 offset1'>
		  <h3 class='centered'>Using a Todo list ensures you'll make something of your life.</h3>
		  {{outlet}}
		</div>
  </div>
</div>
